blockquote {
  background: #f2f3f7;
  padding: 30px;
  box-shadow: -20.84px 21.58px 30px 0px rgb(176 176 176 / 10%);
  margin: 35px 0px;
}

blockquote p {
  background: #ffffff;
  margin-bottom: 0px !important;
  border-left: 2px solid #415094;
  padding: 30px;
  font-style: italic;
}

.blog-post-area.section-margin {
  margin: 30px 0 !important;
}

.post-img {
  width: 100%;
  max-height: 389px;
  object-fit: cover;
}

.card-img {
  height: 190px;
  object-fit: cover;
}

.aspect-ratio-box {
  position: relative;
}

.aspect-ratio-box::after {
  display: block;
  content: "";
  padding-bottom: 46%;
}

.aspect-ratio-box .card-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100%;
}

.current .page-link {
  background: transparent;
  border-color: #222;
  color: #ff9907;
}

div.wpcf7 .ajax-loader {
  display: none;
}

.depth-2 {
  padding-left: 25px;
}

.depth-1:last-child .depth-2 .comment-list {
  padding-bottom: 0;
}

.comments-area .comment-list:last-child {
  padding-bottom: 40px;
}

.cancel-reply-btn a {
  background-color: rgba(130, 139, 178, 0.1);
  color: #3a414e;
  border: 1px solid #eee;
  padding: 0px 18px;
  font-size: 13px;
  display: block;
  line-height: 28px;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.depth-1 .comment-respond textarea.form-control {
  height: 140px;
  resize: none;
}

.depth-1 .comment-respond .form-control {
  padding: 8px 20px;
  background: rgba(130, 139, 178, 0.11);
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 13px;
  color: #999999;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.depth-1 .comment-respond .name {
  padding-left: 0px;
}

.depth-1 .comment-respond .email {
  padding-right: 0px;
}

@media (min-width: 1200px) {
  .card-img {
    height: 230px;
  }
}
